services:
  postgres:
    image: bitnami/postgresql:latest
    environment:
      - POSTGRESQL_USERNAME=counting
      - POSTGRESQL_PASSWORD=counting
      - POSTGRESQL_DATABASE=counting
    volumes:
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    networks:
      - demo-network

  counting-service:
    build: ./counting-service
    ports:
      - "9001:9001"
    environment:
      - PORT=9001
      - STORAGE_MODE=postgres
      - PG_URL=postgres://counting:counting@postgres:5432/counting?sslmode=disable
    depends_on:
      - postgres
    networks:
      - demo-network

  dashboard-service:
    build: ./dashboard-service
    ports:
      - "8080:80"
    environment:
      - PORT=80
      - COUNTING_SERVICE_URL=http://counting-service:9001
    depends_on:
      - counting-service
    networks:
      - demo-network

networks:
  demo-network:
    driver: bridge
