version: '3.8'

services:
  counting-service:
    image: winyannainghtut/counting-service:latest
    ports:
      - "9001:9001"
    environment:
      - PORT=9001
    networks:
      - demo-network

  dashboard-service:
    image: winyannainghtut/dashboard-service:latest
    ports:
      - "8080:80"
    environment:
      - PORT=80
      - COUNTING_SERVICE_URL=http://counting-service:9001
    depends_on:
      - counting-service
    networks:
      - demo-network

networks:
  demo-network:
    driver: bridge
