version: '3.8'

services:
  redis-counting:
    build: ./redis-counting
    restart: always
    ports:
      - "6379:6379"
    networks:
      - demo-network

  counting-service:
    image: winyannainghtut/counting-service:latest
    build: ./counting-service
    ports:
      - "9001:9001"
    environment:
      - PORT=9001
      - REDIS_URL=redis-counting:6379
    depends_on:
      - redis-counting
    networks:
      - demo-network

  dashboard-service:
    image: winyannainghtut/dashboard-service:latest
    ports:
      - "8080:80"
    environment:
      - PORT=80
      - COUNTING_SERVICE_URL=http://counting-service:9001
    depends_on:
      - counting-service
    networks:
      - demo-network

networks:
  demo-network:
    driver: bridge
